/* ===== Film Section Styling ===== */

#film {
    color: white;
    padding: 30px;
    text-align: center;
}

/* Total Film */
.total-film {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: yellow;
}

/* Filter Bar (Sort + Search) */
.filter-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.styled-select, .styled-search {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid yellow;
    border-radius: 30px;
    background: transparent;
    color: white;
    outline: none;
}

.styled-select:hover, .styled-search:focus {
    box-shadow: 0 0 10px yellow;
}

.styled-select:hover, .styled-search:focus {
    box-shadow: 0 0 10px yellow;
}

/* Styling dropdown select */
#sortfilm {
    background-color: #000;        /* Warna background utama */
    color: yellow;                 /* Warna teks */
    border: 2px solid yellow;
    padding: 8px 12px;
    border-radius: 25px;
    outline: none;
}

/* Warna list di dropdown */
#sortfilm option {
    background-color: #111;       /* Background list */
    color: yellow;                /* Warna teks list */
}

#filmcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

/* Desktop / Laptop Besar = 5 kolom */
@media (min-width: 1200px) {
    #filmcontainer {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Tablet = 4 atau 5 kolom */
@media (min-width: 768px) and (max-width: 1199px) {
    #filmcontainer {
        grid-template-columns: repeat(4, 1fr); /* Bisa ubah ke 5 jika muat */
    }
}

/* HP = 3 kolom */
@media (max-width: 767px) {
    #filmcontainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .poster img {
        height: 220px;
    }
}

/* Gallery */
.gallery {
    display: contents;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.gallery-item {
    background: #111;
    width: 100%;
    height: auto;  /* sesuaikan */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.gallery-item:hover {
    transform: scale(1.07);
    box-shadow: 0 0 12px yellow;
}

.poster img {
    width: 100%;
    height: 260px;
    object-fit: contain;
    border-radius: 10px;
}

.film-title {
    margin: 10px 0 5px;
    font-size: 16px;
    font-weight: bold;
}

.film-rating {
    font-size: 15px;
    color: gold;

}

